<%- include('partials/header') %>
  <nav class="navbar">
    <div class="container">
      <a class="navbar-bran" href="#">
        <i class="fa fa-bolt" aria-hidden="true"></i> ShowCaseMe
      </a>
      <ul class="navbar-links">
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container">
      <i class="fa fa-bolt fa-4x" aria-hidden="true"></i>
      <h1>ShowCaseMe</h1>
      <p>Share anything across the world!</p>
      <a class="btn btn-light" href="/register">Register</a>
      <a class="btn btn-dark" href="/login">Login</a>
    </div>
  </div>
<%- include('partials/footer') %>
  

